<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<!--/*@thymesVar id="page" type="nl.lukasmiedema.locationquest.dto.PageDto"*/-->
<head>
	<meta name="viewport" content="width=device-width, minimum-scale=1.0, initial-scale=1.0, user-scalable=no" />
	<meta name="theme-color" content="#DB2828" />
	<link rel="icon" type="image/png" th:href="|@{/assets/favicon.png}|" />

	<!-- Styles -->
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/semantic-ui/2.2.6/semantic.min.css" />

	<!-- Scripts -->
	<script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
	<script type="text/javascript" src="https://cdn.jsdelivr.net/semantic-ui/2.2.6/semantic.min.js"></script>
	<script type="text/javascript" th:src="@{/assets/scripts/main.js}"></script>

	<!-- Page styles and scripts -->
	<th:block th:include="${view} :: head">
		<title>Untitled</title>
	</th:block>
</head>
<body>
	<div class="ui menu inverted fixed red">
		<div class="ui text container">
			<a class="item" th:href="@{/}">
				<i class="location arrow icon"></i>
			</a>

			<th:block th:if="${page.loggedIn}">
				<div class="ui simple dropdown item">
					Games <i class="dropdown icon"></i>
					<div class="menu">
						<a class="item" th:href="@{/games}">Overzicht</a>
						<div class="divider"></div>
						<a th:each="game: ${page.games}" th:text="${game.name}" th:href="@{/games/{id}(id=${game.gameId})}" class="item"></a>
					</div>
				</div>
				<a class="item right" th:href="@{/profile}">
					<i class="user icon"></i>
					<th:block th:text="${page.name}" />
				</a>
			</th:block>
		</div>
	</div>
	<br/>
	<br/>
	<br/>
	<br/>

	<!-- Template body start -->
	<th:block th:include="${view} :: body">
		Page content goes here
	</th:block>
	<!-- Template body end -->
</body>
</html>