<html xmlns:th="http://www.thymeleaf.org">
<!--/*@thymesVar id="item" type="nl.lukasmiedema.locationquest.dto.ClaimedQuestInfoDto" */-->
<!--/*@thymesVar id="game" type="nl.lukasmiedema.locationquest.entity.tables.pojos.Game"*/-->
<!--/*@thymesVar id="passcode" type="java.lang.String"*/-->
<!--/*@thymesVar id="claimable" type="java.lang.Boolean"*/-->
<!--/*@thymesVar id="requiresInventory" type="nl.lukasmiedema.locationquest.dto.InventoryDto"*/-->
<!--/*@thymesVar id="yieldsInventory" type="nl.lukasmiedema.locationquest.dto.InventoryDto"*/-->

<head>
	<title><th:block th:text="#{dashboard.history.details.title(${item.quest.name})}"/></title>
</head>
<body>
	<div class="ui segment">
		<div class="inline-chapter-block" th:style="|background-color: #${item.chapter.colorHex};|"></div>
		<th:block th:text="${item.chapter.name}" />
	</div>

	<div class="ui segment">
		<h2 th:text="#{dashboard.history.details.title(${item.quest.name})}"></h2>
	</div>
	<div class="ui segment">
		<i class="check icon"></i>
		<th:block th:text="#{dashboard.history.details.claimedAt(${{item.claimedAt}})}"/>
	</div>
	<div class="ui red secondary segment" th:unless="${requiresInventory.items.empty}">
		<h4 th:text="#{dashboard.history.details.claimCosted}"></h4>
		<div th:replace="components/InventoryList :: list (${requiresInventory})"></div>
	</div>
	<div class="ui green secondary segment" th:unless="${yieldsInventory.items.empty}">
		<h4 th:text="#{dashboard.history.details.claimYielded}"></h4>
		<div th:replace="components/InventoryList :: list (${yieldsInventory})"></div>
	</div>

	<div class="ui segment" th:if="${item.quest.required}">
		<p th:utext="${markdown.toHtml(item.quest.fetchText)}"></p>
	</div>

	<div class="ui clearing secondary segment">
		<div class="ui big form">
			<th:block th:if="${item.quest.passcodeText}">
				<h4 th:text="#{dashboard.history.details.usedCode}"></h4>
				<div class="inline field">
					<label><i class="key icon"></i></label>
					<input type="text" name="passcode" disabled="disabled" th:value="${item.quest.passcodeText}" />
				</div>
			</th:block>
			<a th:href="@{/games/{id}/dashboard/history(id=${game.gameId})}"
			   th:text="#{dashboard.history.details.back}"
			   class="ui left primary floated button"></a>
		</div>
	</div>
</body>
</html>