<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Geschiedenis</title>
	<icon><i class="clock icon"></i></icon>
</head>
<body>
	<table class="ui selectable compact unstackable table">
		<thead>
			<tr>
				<th colspan="2">Quest</th>
				<th>Geclaimed op</th>
			</tr>
		</thead>
		<!--/*@thymesVar id="history" type="java.util.List<nl.lukasmiedema.locationquest.dto.ClaimedQuestInfoDto>"*/-->
		<tr th:if="${history.empty}" class="center aligned">
			<td colspan="3">
				<i>Hier komen geclaimede quests te staan</i>
			</td>
		</tr>

		<th:block th:each="item: ${history}" >
			<tr th:classappend="${item.quest.required} ? 'required' : 'optional'">
				<td class="collapsing">
					<div class="inline-chapter-block" th:style="|background-color: #${item.chapter.colorHex};|"></div>
				</td>
				<td>
					<a th:href="@{/games/{id}/dashboard/history/details(id=${game.gameId})} + '/' + ${item.quest.questId}" th:text="${item.quest.name}"></a>
				</td>
				<td th:text="${{item.claimedAt}}"></td>
			</tr>
		</th:block>
	</table>
</body>
</html>