<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Quest</title>
	<icon><i class="search icon"></i></icon>
</head>
<body>
	<!--/*@thymesVar id="quest" type="nl.lukasmiedema.locationquest.entity.tables.pojos.Quest" */-->
	<!--/*@thymesVar id="questType" type="nl.lukasmiedema.locationquest.dto.QuestType" */-->

	<th:block th:switch="${questType.name()}">

		<div class="ui right corner label" th:classappend="${questType.htmlClass}">
			<i class="icon" th:classappend="${questType.icon}"></i>
		</div>

		<div class="ui segment" th:case="QR_TEXT_FETCH">
			<h2 th:text="${quest.name}"></h2>
			<p th:text="${quest.text}"></p>
		</div>

		<div class="ui segment" th:case="PASSCODE">
			<h2 th:text="${quest.name}"></h2>
			<p th:text="${quest.text}"></p>
			THIS IS A PASSCODE THING YES
		</div>

		<div class="ui segment" th:case="DONE">
			<h2>Dat was het</h2>
			<p>Alle vragen zijn beantwoord.</p>
		</div>

		<div class="ui segment" th:case="CLOSED">
			<h2>Dit spel is gesloten</h2>
			<p>Er kunnen geen vragen meer beantwoord worden.</p>
		</div>

	</th:block>
</body>
</html>