<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Quest</title>
	<icon><i class="search icon"></i></icon>
</head>
<body>
	<!--/*@thymesVar id="quest" type="nl.lukasmiedema.locationquest.entity.tables.pojos.Quest" */-->
	<!--/*@thymesVar id="questPhase" type="nl.lukasmiedema.locationquest.dto.QuestPhase" */-->
	<!--/*@thymesVar id="chapter" type="nl.lukasmiedema.locationquest.dto.ChapterDto" */-->

	<div class="ui right corner label" th:classappend="${questPhase.htmlClass}">
		<i class="icon" th:classappend="${questPhase.icon}"></i>
	</div>

	<div th:if="${chapter}" class="ui segment">
		<div class="inline-chapter-block" th:style="|background-color: #${chapter.colorHex};|"></div>
		<th:block th:text="${chapter.name}" />
	</div>

	<!-- Next quest -->
	<th:block th:switch="${questPhase.name()}">
		<th:block th:case="RUNNING">
			<div class="ui segment">
				<h2 class="ui header" th:text="${quest.name}"></h2>
				<p th:utext="${markdown.toHtml(quest.fetchText)}"></p>
			</div>
		</th:block>

		<div class="ui segment" th:case="DONE">
			<h2>Dat was het</h2>
			<p>Alle vragen zijn beantwoord.</p>
		</div>

		<div class="ui segment" th:case="CLOSED">
			<h2>Dit spel is gesloten</h2>
			<p>Er kunnen geen vragen meer beantwoord worden.</p>
		</div>

	</th:block>
</body>
</html>