<html xmlns:th="http://www.thymeleaf.org">
<!--/*@thymesVar id="quest" type="nl.lukasmiedema.locationquest.entity.tables.pojos.Quest" */-->
<!--/*@thymesVar id="game" type="nl.lukasmiedema.locationquest.entity.tables.pojos.Game"*/-->
<!--/*@thymesVar id="passcode" type="java.lang.String"*/-->
<!--/*@thymesVar id="claimable" type="java.lang.Boolean"*/-->
<!--/*@thymesVar id="requiresInventory" type="nl.lukasmiedema.locationquest.dto.InventoryDto"*/-->
<!--/*@thymesVar id="yieldsInventory" type="nl.lukasmiedema.locationquest.dto.InventoryDto"*/-->
<!--/*@thymesVar id="chapter" type="nl.lukasmiedema.locationquest.dto.ChapterDto" */-->

<head>
	<title>Scan: <th:block th:text="${quest.name}" /></title>
</head>
<body>
	<div class="ui segment">
		<div class="inline-chapter-block" th:style="|background-color: #${chapter.colorHex};|"></div>
		<th:block th:text="${chapter.name}" />
	</div>

	<div class="ui right corner red label">
		<i class="search icon"></i>
	</div>

	<div class="ui segment">
		<h2>Scan: <th:block th:text="${quest.name}"/></h2>
	</div>

	<div class="ui red secondary segment" th:unless="${requiresInventory.items.empty}">
		<h4>Claimen kost</h4>
		<div th:replace="components/InventoryList :: list (${requiresInventory})"></div>
	</div>
	<div class="ui green secondary segment" th:unless="${yieldsInventory.items.empty}">
		<h4>Claimen levert op</h4>
		<div th:replace="components/InventoryList :: list (${yieldsInventory})"></div>
	</div>

	<div class="ui segment">
		<p th:utext="${markdown.toHtml(quest.scanText)}"></p>
	</div>

	<div class="ui clearing secondary segment">
		<form class="ui big form" method="POST" th:action="@{/games/{id}/scan/{code}(id=${game.gameId},code=${quest.qrCode})}">

			<th:block th:if="${quest.passcodeText}">
				<h4>Om deze quest te claimen is een code nodig</h4>
				<div class="inline field">
					<label><i class="key icon"></i></label>
					<input type="text" name="passcode" placeholder="Code" th:value="${passcode}" />
				</div>
			</th:block>

			<a th:href="@{/games/{id}/dashboard(id=${game.gameId})}" class="ui left floated button">Annuleren</a>
			<input type="submit" class="ui right floated primary button"
				   th:classappend="not ${claimable} ? 'disabled'" value="Claim" />
		</form>
	</div>
</body>
</html>