<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Team</title>
</head>
<body>
	<!--/*@thymesVar id="teamMembers" type="java.util.List"*/-->
	<!--/*@thymesVar id="player" type="nl.lukasmiedema.locationquest.entity.tables.pojos.Player"*/-->
	<div class="ui segment">
		<h4>Teamleden (<th:block th:text="${team.memberCount}" />)</h4>
	</div>
	<div class="ui segment" th:each="other: ${teamMembers}">
		<!--/*@thymesVar id="other" type="nl.lukasmiedema.locationquest.entity.tables.pojos.Player"*/-->
		<i class="user icon"></i>
		<th:block th:if="${other.sessionId == player.sessionId}">
			<i th:text="${other.name}"></i>
		</th:block>
		<th:block th:unless="${other.sessionId == player.sessionId}" th:text="${other.name}"/>
	</div>
</body>
</html>