<!doctype html>
<html>
<head></head>
<body>
<vaadin-vertical-layout size-full>
	<vaadin-vertical-layout spacing size-auto margin-right margin-top margin-bottom :middle :center>
		<vaadin-label>
			<h1>Kies een naam</h1>
		</vaadin-label>
		<vaadin-text-field id="userName" caption="Naam:" required input-prompt="Naam hier" width="300px"></vaadin-text-field>
		<vaadin-button plain-text id="loginButton">
			Opslaan
		</vaadin-button>
	</vaadin-vertical-layout>
</vaadin-vertical-layout>
</body>
</html>