<!doctype html>
<html>
<body>
<vaadin-vertical-layout size-full>
	<vaadin-vertical-layout spacing size-auto margin-right margin-top margin-bottom :top :center>
		<vaadin-label id="chooseGame">
			<h1>Kies een spel, Peter</h1>
		</vaadin-label>
		<vaadin-table selectable page-length="8" id="games">
			<table>
				<colgroup>
					<col property-id="name">
					<col property-id="timestamp">
					<col property-id="activeCheckbox">
				</colgroup>
				<thead>
				<tr>
					<th>Naam</th>
					<th>Gestart op</th>
					<th>Actief</th>
				</tr>
				</thead>
			</table>
		</vaadin-table>
	</vaadin-vertical-layout>
</vaadin-vertical-layout>
</body>
</html>