<html xmlns:th="http://www.thymeleaf.org">
<!--/*@thymesVar id="game" type="nl.lukasmiedema.locationquest.entity.tables.pojos.Game"*/-->
<!--/*@thymesVar id="team" type="nl.lukasmiedema.locationquest.dto.TeamInfoDto"*/-->
<!--/*@thymesVar id="tab" type="java.lang.String"*/-->
<!--/*@thymesVar id="messages" type="java.util.List<nl.lukasmiedema.locationquest.dto.MessageDto>"*/-->
<head>
	<title>
		<th:block th:include="|dashboard/${activeTab} :: title|" />
		-
		<th:block th:text="${game.name}"/>
	</title>
</head>
<body>
<div class="ui text container">
	<div class="ui tiny horizontal divider header">
		<th:block th:text="${game.name}"/>
		<div class="ui basic label">
			<div class="ui empty circular label" th:style="|background-color: #${team.colorHex}|"></div>
			<div class="detail" th:text="${team.name}"></div>
		</div>
	</div>

	<!-- Notifications -->
	<div th:each="message: ${messages}"
		 th:classappend="${message.type.htmlClass}" class="ui message"
		 th:text="${message.message}">
		Notification!
	</div>

	<div class="ui menu" th:with="url=(@{/games/{id}/dashboard(id=${game.id})} + '/{tab}')">

		<a th:each="tab: ${tabs}"
		   class="item"
		   th:classappend="${activeTab} eq ${tab.template} ? 'active'"
		   th:href="@{${url}(tab=${tab.url})}">

			<th:block th:include="|dashboard/${tab.template} :: icon|" th:if="${activeTab} eq ${tab.template}" />
			<th:block th:include="|dashboard/${tab.template} :: title|" />
		</a>

	</div>

	<div class="ui segments" th:include="|dashboard/${activeTab} :: body|"></div>
</div>
</body>
</html>