<html xmlns:th="http://www.thymeleaf.org">
<!--/*@thymesVar id="game" type="nl.lukasmiedema.locationquest.entity.tables.pojos.Game"*/-->
<!--/*@thymesVar id="team" type="nl.lukasmiedema.locationquest.dto.TeamInfoDto"*/-->
<!--/*@thymesVar id="tab" type="java.lang.String"*/-->
<!--/*@thymesVar id="messages" type="java.util.List<nl.lukasmiedema.locationquest.dto.MessageDto>"*/-->
<head>
	<title>
		<th:block th:include="|dashboard/${activeTab} :: title|" />
		-
		<th:block th:text="${game.name}"/>
	</title>

	<link rel="stylesheet" th:href="@{/assets/styles/page/Dashboard.css}"/>
	<script th:src="@{/assets/scripts/page/Dashboard.js}" type="text/javascript"></script>
</head>
<body>
<div class="ui text container">
	<div class="ui tiny horizontal divider header">
		<th:block th:text="${game.name}"/>
		<div class="ui basic label">
			<div class="ui empty circular label" th:style="|background-color: #${team.colorHex}|"></div>
			<div class="detail" th:text="${team.name}"></div>
		</div>
	</div>

	<!-- Inventory -->
	<!--/*@thymesVar id="inventory" type="nl.lukasmiedema.locationquest.dto.InventoryDto"*/-->
	<div th:replace="components/InventoryList :: list (${inventory})"></div>

	<!-- Chapters -->
	<div th:unless="${inventory.items.empty}" class="ui divider"></div>
	<div class="chapter-bar">
		<div th:each="chapter: ${chapters}" class="chapter-item"
			 th:classappend="${chapter.claimed} ? 'claimed' : 'unclaimed'">
			<div class="chapter-block" th:style="|background-color: #${chapter.colorHex}|"></div>
		</div>
	</div>

	<!-- Tab bar -->
	<div class="ui menu" th:with="url=(@{/games/{id}/dashboard(id=${game.gameId})} + '/{tab}')">

		<a th:each="tab: ${tabs}"
		   class="item"
		   th:classappend="${activeTab} eq ${tab.template} ? 'active'"
		   th:href="@{${url}(tab=${tab.url})}">

			<th:block th:include="|dashboard/${tab.template} :: icon|" th:if="${activeTab} eq ${tab.template}" />
			<th:block th:include="|dashboard/${tab.template} :: title|" />
		</a>

	</div>

	<!-- Notifications -->
	<div th:each="message: ${messages}"
		 th:classappend="${message.type.htmlClass}" class="ui message"
		 th:text="${message.message}">
		Notification!
	</div>

	<!-- Active tab -->
	<div class="ui segments" th:include="|dashboard/${activeTab} :: body|"></div>
</div>
</body>
</html>