<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title th:text="#{enroll.title}"></title>
	<link rel="stylesheet" th:href="@{/assets/styles/page/GameEnroll.css}"/>
	<script th:src="@{/assets/scripts/page/GameEnroll.js}" type="text/javascript"></script>
</head>
<body>

	<!--/*@thymesVar id="teams" type="java.util.List"*/-->
	<!--/*@thymesVar id="game" type="nl.lukasmiedema.locationquest.entity.tables.pojos.Game"*/-->
	<!--/*@thymesVar id="teamSelectionDto" type="nl.lukasmiedema.locationquest.dto.TeamSelectionDto"*/-->
	<!--/*@thymesVar id="teamCreationDto" type="nl.lukasmiedema.locationquest.dto.TeamCreationDto"*/-->

	<div class="ui text container" th:switch="true">
		<th:block th:case="not ${game.active}">
			<h2 th:text="#{enroll.finished(${game.name})}"></h2>
			<p th:text="#{enroll.finished.description}"></p>
		</th:block>

		<th:block th:case="not ${game.allowNewMembers}">
			<h2 th:text="#{enroll.closed(${game.name})}"></h2>
			<p th:text="#{enroll.closed.description}"></p>
		</th:block>

		<th:block th:case="true">
			<h2 th:text="#{enroll.header(${game.name})}"></h2>
			<p th:text="#{enroll.choose}"></p>

			<form th:action="@{/games/{id}/enroll(id=${game.gameId})}" method="post" class="ui large form enroll"
				  th:object="${teamSelectionDto}" th:classappend="${#fields.hasAnyErrors()} ? error">
				<input type="hidden" id="teamEnrollOption" name="teamId" value="" />
				<h4 class="ui horizontal divider header" th:text="#{enroll.choose.existing}"></h4>

				<div class="ui error code transition">
					<ul class="list" th:each="error : ${#fields.detailedErrors()}">
						<li th:text="${error.getMessage()}"></li>
					</ul>
				</div>

				<div class="ui list">
					<!--/*@thymesVar id="team" type="nl.lukasmiedema.locationquest.dto.TeamInfoDto" */-->
					<div class="item" th:if="${teams.empty}" th:text="#{enroll.choose.empty}"></div>

					<div class="item" th:each="team: ${teams}">
						<div class="ui fluid labeled button team-item" th:attr="data-id=${team.teamId}">
							<div class="ui fluid team button">
								<div class="ui empty circular label" th:style="|background-color: #${team.colorHex}|"></div>
								<th:block th:text="${team.name}"/>
							</div>
							<div class="ui left pointing label">
								<i class="users icon"></i>
								<th:block th:text="${team.memberCount}"/>
							</div>
						</div>
					</div>
				</div>
				<input type="submit" class="ui right floated button" th:value="#{enroll.choose.confirm}"
					   th:disabled="${teams.empty}" />
				<div class="ui clearing header"></div>
			</form>
			<br/>
			<br/>
			<br/>

			<form th:action="@{/games/{id}/create(id=${game.gameId})}" method="post" class="ui large form create"
				  th:object="${teamCreationDto}" th:classappend="${#fields.hasAnyErrors()} ? error">
				<h4 class="ui horizontal divider header" th:text="#{enroll.create}"></h4>

				<div class="ui error message transition">
					<ul class="list" th:each="error : ${#fields.detailedErrors()}">
						<li th:text="${error.getMessage()}"></li>
					</ul>
				</div>

				<div class="ui list">
					<div class="item">
						<div class="inline fields">
							<div class="three wide field">
								<label th:text="#{enroll.create.color}"></label>
								<input type="color" name="color" th:value="*{color}"/>
							</div>
							<div class="thirteen wide field">
								<label th:text="#{enroll.create.name}"></label>
								<input type="text" name="name" th:value="*{name}"
									   th:placeholder="#{enroll.create.name.placeholder}" />
							</div>
						</div>
					</div>
				</div>
				<input type="submit" class="ui right floated button" th:value="#{enroll.create.confirm}" />
				<div class="ui clearing header"></div>
			</form>
			<br/>
			<br/>
		</th:block>
	</div>

</body>
</html>
