<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<!--/*@thymesVar id="messages" type="java.util.List<nl.lukasmiedema.locationquest.dto.MessageDto>"*/-->
<head>
	<title th:text="#{games.title}">Games</title>
</head>
<body>
	<!-- Notifications -->
	<div th:each="code: ${messages}"
		 th:classappend="${code.type.htmlClass}" class="ui message"
		 th:text="${code.message}">
		Notification!
	</div>
	<th:block>
		<div class="ui text container" sec:authorize="hasRole('ADMIN')">
			<h4 class="ui horizontal header">
				<a th:href="@{/admin}" th:text="#{games.admin.header}"></a>
			</h4>
		</div>
		<br/>
		<br/>
	</th:block>
	<div class="ui text container">
		<div th:replace="components/GameList :: list (#{games.mine}, ${ownGames})"></div>
	</div>
	<br/>
	<br/>
	<div class="ui text container">
		<div th:replace="components/GameList :: list (#{games.all}, ${openGames})"></div>
	</div>
</body>
</html>
