<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<!--/*@thymesVar id="page" type="nl.lukasmiedema.locationquest.dto.Page"*/-->
<head>
	<title th:text="${title}">Untitled</title>
	<meta name="viewport" content="width=device-width, minimum-scale=1.0, initial-scale=1.0, user-scalable=no" />
	<meta name="theme-color" content="#DB2828" />

	<!-- Styles -->
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/semantic-ui/2.2.6/semantic.min.css" />

	<!-- Scripts -->
	<script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
	<script type="text/javascript" src="https://cdn.jsdelivr.net/semantic-ui/2.2.6/semantic.min.js"></script>
	<script type="text/javascript" src="scripts/clickany.js"></script>

</head>
<body>
	<div class="ui menu inverted fixed red">
		<div class="ui text container">
			<div class="item header">
				<i class="location arrow icon"></i>
				LOCATION QUEST
			</div>

			<!--/*@thymesVar id="menu" type="nl.lukasmiedema.locationquest.dto.MenuBarDto"*/-->
			<th:block th:if="${menu.loggedIn}">
				<div class="ui simple dropdown item">
					Games <i class="dropdown icon"></i>
					<div class="menu">
						<a class="item" th:href="@{/games}">Overzicht</a>
						<div class="divider"></div>
						<a th:each="game: ${menu.games}" th:text="${game.name}" th:href="@{/games/{id}(id=${game.id})}" class="item"></a>
					</div>
				</div>
				<a class="item right" th:href="@{/profile}">
					<i class="user icon"></i>
					<th:block th:text="${menu.name}" />
				</a>
			</th:block>
		</div>
	</div>
	<br/>
	<br/>
	<br/>
	<br/>
	<div th:replace="${view}">
		Looks like template resolution failed...
	</div>
</body>
</html>