<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title th:text="#{profile.title}"></title>
</head>
<body>
	<div class="ui text container">

		<!--/*@thymesVar id="form" type="nl.lukasmiedema.locationquest.dto.ChooseNameFormDto"*/-->
		<div class="column" th:object="${form}">
			<h2 th:text="#{profile.title}"></h2>
			<p th:text="#{profile.description}"></p>

			<div th:if="${#fields.hasAnyErrors()}" class="ui error message transition">
				<div class="header" th:text="#{profile.validationError}"></div>
				<ul class="list" th:each="error : ${#fields.detailedErrors()}">
					<li th:text="${error.message}"></li>
				</ul>
			</div>

			<form action="#" method="post" class="ui large form">
				<div class="field" th:classappend="${#fields.hasErrors('name')} ? error">
					<label th:text="#{profile.label}"></label>
					<input type="text" th:field="*{name}" />
				</div>
				<input type="submit" class="ui primary button" th:value="#{profile.continue}" />
			</form>
		</div>
	</div>
</body>
</html>